{% extends 'base.html' %}

{% load static %}
{% block title %}Track Progress{% endblock %}

{% block content %}
    <h1>Login</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
    </form>

    <div id="insightsModal" class="modal" style="display: block;">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Insights</h2>
        <p>Your detailed insights and tips here.</p>
    </div>
</div>


    <!-- Include JavaScript for modal functionality -->
    <script src="{% static 'js/modal.js' %}"></script>
</body>
</html>
{% endblock %}
